@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


body {
  font-family: 'Source Code Pro', monospace;
}

/* Start Typewriter  */
  #topNav {
    background-color: #c13b17;
    padding: 16px;
    width: 98%;
    height: 90px;
  }

  #topNav p {
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color: rgba(255,255,255,.70);
  }

  /* Animation */
  #topNav p {
    animation: animated-text 4s linear 1s 1 normal both,
               animated-cursor 900ms linear infinite;
  }

  /* text animation */
  @keyframes animated-text{
    from{width: 0;}
    /* to{width: 490px;} */
    to{width: 435px;}
  }

  /* cursor animations */
  @keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

/* END Typewriter*/

#wholeContainer {
    display: flex;
}
/* do a minmax so container comes under on horizontal shrink */

/* format for popup
/* The Modal (background) */
.form-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .form-container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* format for player details grid */
.playerBox {
    border: 1px black solid;
    padding: 2.5vh 4vh 4vh 7vh;
}

#playerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
  grid-gap: 0.5rem;
  width: fit-content;
  font-size: 2.5vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

#gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* x */
    grid-template-rows: 1fr 1fr 1fr;  /* y */
    border: 1px black solid;
    width: 45vw;
    height: 60vh;
    margin: auto;
}

.squ {
    border: 1px black solid;
    font-size: 10vh;
    text-align: center;
    padding-top: 1vh;
}

#messageBoard {
    margin: auto;
    text-align: center;
    font-size: 3vh;
    width: 55vh;
    background-color: #ccc;
}
